@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?anvyzn');
  src:  url('fonts/icomoon.eot?anvyzn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?anvyzn') format('truetype'),
    url('fonts/icomoon.woff?anvyzn') format('woff'),
    url('fonts/icomoon.svg?anvyzn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Geo-pointer:before {
  content: "\e900";
}
.icon-Compas:before {
  content: "\e901";
}
.icon-Geo-point:before {
  content: "\e902";
}
.icon-Earth:before {
  content: "\e903";
}
